.test{
    text-decoration: none;
    background-color: red;
    padding: 10px 20px;
    font-size: 100%;
    margin-top: 200px;
    margin:40%;
    border-radius: 5px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}